<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- This makes website responsive on different devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module("main", []);
        app.controller("main", function($scope) { 
            $scope.obj = {selectedPlan:"planA", selectedTerm:"term1", OR12: "1"};
        });
    </script>
    <link rel="stylesheet" href="styles.css">
    <title>ENGG Plan Timetable</title>
</head>
<body>
    <header>
        U of A Timetable
    </header>
    <div id="legend">
    </div>
    <div id="main" ng-app="main" ng-controller="main">
        <p>{{obj.selectedPlan+obj.selectedTerm}}</p>
        <p>{{obj.OR12}}</p>
        <div id="planlegend">
            <input id="planA" name="planselector" ng-model="obj.selectedPlan" type="radio" value="planA"/>
            <label for="planA">Plan A</label><br/>
            <input id="planB" name="planselector" ng-model="obj.selectedPlan" type="radio" value="planB"/>
            <label for="planB">Plan B</label><br/>
            <input id="planC" name="planselector" ng-model="obj.selectedPlan" type="radio" value="planC"/>
            <label for="planC">Plan C</label><br/>
        </div>
        <div id="termlegend" ng-switch="obj.selectedPlan">
            <div ng-switch-when="planA">
                <input id="term1" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term1"/>
                <label for="term1">Term 1</label><br/>
                <input id="term2" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term2"/>
                <label for="term2">Term 2</label><br/>
                <input id="term3" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term3"/>
                <label for="term3">Term 3</label><br/>
            </div>
            <div ng-switch-when="planB">
                <input id="term4" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term4"/>
                <label for="term4">Term 4</label><br/>
                <input id="term5" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term5"/>
                <label for="term5">Term 5</label><br/>
                <input id="term6" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term6"/>
                <label for="term6">Term 6</label><br/>
            </div>
            <div ng-switch-when="planC">
                <input id="term1" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term1"/>
                <label for="term1">Term 1</label><br/>
                <input id="term2" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term2"/>
                <label for="term2">Term 2</label><br/>
                <input id="term3" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term3"/>
                <label for="term3">Term 3</label><br/>
            </div>
        </div>
        <div id="optionlegend" ng-switch="obj.selectedPlan+obj.selectedTerm">
            <div id="planAterm1options" ng-switch-when="planAterm1">
                <div id="OR12">
                    <input id="1" name="optionselector" ng-model="obj.OR12" type="radio" value="1"/>
                    <label for="1">1</label><br/>
                    <input id="2" name="optionselector" ng-model="obj.OR12" type="radio" value="2"/>
                    <label for="2">2</label><br/>
                </div>
            </div>
        </div>
        <div class="daylabels" id="hour">
            <h3>Hour</h3>
            <p class="label">8:00 AM</p>
            <p class="label">9:00 AM</p>
            <p class="label">10:00 AM</p>
            <p class="label">11:00 AM</p>
            <p class="label">12:00 PM</p>
            <p class="label">1:00 PM</p>
            <p class="label">2:00 PM</p>
            <p class="label">3:00 PM</p>
            <p class="label">4:00 PM</p>
            <p class="label">5:00 PM</p>
            <p class="label">6:00 PM</p>
            <p class="label">7:00 PM</p>
            <p class="label">8:00 PM</p>
        </div>
        <div ng-switch="obj.selectedPlan+obj.selectedTerm">
            <div id="planAterm1" ng-switch-when="planAterm1">
                <div class="day" id="M">
                    <h3>Monday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 122px; height: 179px;">
                            <p>Course</p>
                        </div>
                        <div class="course" style="position: absolute; top: 305px; height: 118px;">
                            <p>Course</p>
                        </div>
                    </div>
                </div>
                <!-- 30 min chunk = 57px, 60 min chunk = 118px -->
                <!-- 30 min pos = 61 px, 60 min pos = 122px -->
                <div class="day" id="Tu">
                    <h3>Tuesday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; height: 118px;">
                            <p>Course</p>
                        </div>
                        <div ng-switch="obj.OR12">
                            <div class="course" style="position: absolute; top: 122px; height: 118px;" ng-switch-when="1">
                                <p>Course</p>
                            </div>
                        </div>
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p>Course</p>
                        </div>
                    </div>
                </div>
                <div class="day" id="W">
                    <h3>Wednesday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 61px; height: 179px;">
                            <p>Course</p>
                        </div>
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p>Course</p>
                        </div>
                        <div ng-switch="obj.OR12">
                            <div class="course" style="position: absolute; top: 366px; height: 118px;" ng-switch-when="2">
                                <p>Course</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="day" id="Th">
                    <h3>Thursday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p>Course</p>
                        </div>
                        <div class="course" style="position: absolute; top: 366px; height: 118px;">
                            <p>Course</p>
                        </div>
                    </div>
                </div>
                <div class="day" id="F">
                    <h3>Friday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p>Course</p>
                        </div>
                        <div class="course" style="position: absolute; top: 366px; height: 118px;">
                            <p>Course</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>