<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- This makes website responsive on different devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module("main", []);
        app.controller("main", function($scope) { 
            $scope.obj = {selectedPlan:"planA", selectedTerm:"term1", OR12: "1", OR34: "3", OR56: "5"};
        });
    </script>
    <link rel="stylesheet" href="styles.css">
    <title>ENGG Plan Timetable</title>
</head>
<body>
    <header>
        U of A Timetable
    </header>
    <div id="legend">
    </div>
    <div id="main" ng-app="main" ng-controller="main">
        <p>{{obj.selectedPlan+obj.selectedTerm}}</p>
        <p>{{obj.OR12}}</p>
        <div id="planlegend">
            <input id="planA" name="planselector" ng-model="obj.selectedPlan" type="radio" value="planA"/>
            <label for="planA">Plan A</label><br/>
            <input id="planB" name="planselector" ng-model="obj.selectedPlan" type="radio" value="planB"/>
            <label for="planB">Plan B</label><br/>
            <input id="planC" name="planselector" ng-model="obj.selectedPlan" type="radio" value="planC"/>
            <label for="planC">Plan C</label><br/>
        </div>
        <div id="termlegend" ng-switch="obj.selectedPlan">
            <div ng-switch-when="planA">
                <input id="term1" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term1"/>
                <label for="term1">Term 1</label><br/>
                <input id="term2" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term2"/>
                <label for="term2">Term 2</label><br/>
                <input id="term3" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term3"/>
                <label for="term3">Term 3</label><br/>
            </div>
            <div ng-switch-when="planB">
                <input id="term4" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term4"/>
                <label for="term4">Term 4</label><br/>
                <input id="term5" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term5"/>
                <label for="term5">Term 5</label><br/>
                <input id="term6" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term6"/>
                <label for="term6">Term 6</label><br/>
            </div>
            <div ng-switch-when="planC">
                <input id="term1" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term1"/>
                <label for="term1">Term 1</label><br/>
                <input id="term2" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term2"/>
                <label for="term2">Term 2</label><br/>
                <input id="term3" name="termselector" ng-model="obj.selectedTerm" type="radio" value="term3"/>
                <label for="term3">Term 3</label><br/>
            </div>
        </div>
        <div id="optionlegend" ng-switch="obj.selectedPlan+obj.selectedTerm">
            <div id="planAterm1options" ng-switch-when="planAterm1">
                <div id="OR12">
                    <input id="1" name="optionselector" ng-model="obj.OR12" type="radio" value="1"/>
                    <label for="1">1</label><br/>
                    <input id="2" name="optionselector" ng-model="obj.OR12" type="radio" value="2"/>
                    <label for="2">2</label><br/>
                </div>
            </div>
            <div id="planAterm2options" ng-switch-when="planAterm2">
                <div id="OR34">
                    <input id="3" name="optionselector" ng-model="obj.OR34" type="radio" value="3"/>
                    <label for="3">3</label><br/>
                    <input id="4" name="optionselector" ng-model="obj.OR34" type="radio" value="4"/>
                    <label for="4">4</label><br/>
                </div>
            </div>
            <div id="planBterm4options" ng-switch-when="planBterm4">
                <div id="OR56">
                    <input id="5" name="optionselector" ng-model="obj.OR56" type="radio" value="5"/>
                    <label for="5">5</label><br/>
                    <input id="6" name="optionselector" ng-model="obj.OR56" type="radio" value="6"/>
                    <label for="6">6</label><br/>
                </div>
            </div>
        </div>
        <div class="daylabels" id="hour">
            <h3 class="label">Hour</h3>
            <div style="position: relative;">
                <div class="course" style="position: absolute; height: 118px;">
                    <p class="content">8:00 AM</p>
                </div>
                <div class="course" style="position: absolute; top: 122px; height: 118px;">
                    <p class="content">9:00 AM</p>
                </div>
                <div class="course" style="position: absolute; top: 244px; height: 118px;">
                    <p class="content">10:00 AM</p>
                </div>
                <div class="course" style="position: absolute; top: 366px; height: 118px;">
                    <p class="content">11:00 AM</p>
                </div>
                <div class="course" style="position: absolute; top: 488px; height: 118px;">
                    <p class="content">12:00 PM</p>
                </div>
                <div class="course" style="position: absolute; top: 610px; height: 118px;">
                    <p class="content">1:00 PM</p>
                </div>
                <div class="course" style="position: absolute; top: 732px; height: 118px;">
                    <p class="content">2:00 PM</p>
                </div>
                <div class="course" style="position: absolute; top: 854px; height: 118px;">
                    <p class="content">3:00 PM</p>
                </div>
                <div class="course" style="position: absolute; top: 976px; height: 118px;">
                    <p class="content">4:00 PM</p>
                </div>
                <div class="course" style="position: absolute; top: 1098px; height: 118px;">
                    <p class="content">5:00 PM</p>
                </div>
                <div class="course" style="position: absolute; top: 1220px; height: 118px;">
                    <p class="content">6:00 PM</p>
                </div>
                <div class="course" style="position: absolute; top: 1342px; height: 118px;">
                    <p class="content">7:00 PM</p>
                </div>
                <div class="course" style="position: absolute; top: 1464px; height: 118px;">
                    <p class="content">8:00 PM</p>
                </div>
            </div>
        </div>
           <!--chunk formula: (n-1)*122px + 118px (for n hours)-->
                <!-- add 57px for 30 mins if starting at 30 min pos or just a single 30 min chunk
                    if starting at hour pos (and >1 hour), add 61px-->
                <!-- 30 min pos = 61 px, 60 min pos = 122px -->
        <div ng-switch="obj.selectedPlan+obj.selectedTerm">
            <div id="planAterm1" ng-switch-when="planAterm1">
                <div class="day" id="M">
                    <h3 class="label">Monday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; height: 118px;"></div>
                        <div class="course" style="position: absolute; top: 122px; height: 179px;">
                            <p class="content">ENG PH 200</p>
                        </div>
                        <div class="course" style="position: absolute; top: 305px; height: 118px;">
                            <p class="content">CH E 233</p>
                        </div>
                        <div class="course" style="position: absolute; top: 427px; height: 57px;">
                            <p class="content">CLASS 233</p>
                        </div>
                        <div class="course" style="position: absolute; top: 488px; height: 118px;">
                            <p class="content">CLASS 441</p>
                        </div>
                        <div class="course" style="position: absolute; top: 610px; height: 118px;">
                            <p class="content">CLASS 44</p>
                        </div>
                        <div class="course" style="position: absolute; top: 732px; height: 118px;">
                            <p class="content">CLASS 44</p>
                        </div>
                        <div class="course" style="position: absolute; top: 854px; height: 118px;">
                            <p class="content">CLASS 44</p>
                        </div>
                        <div class="course" style="position: absolute; top: 976px; height: 118px;">
                            <p class="content">CLASS 44</p>
                        </div>
                        <div class="course" style="position: absolute; top: 1098px; height: 362px;">
                            <p class="content">CLASS 44</p>
                        </div>
                        <div class="course" style="position: absolute; top: 1464px; height: 118px;">
                            <p class="content">CLASS 448</p>
                        </div>
                    </div>
                </div>
             
                <div class="day" id="Tu">
                    <h3 class="label">Tuesday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; height: 118px;">
                            <p class="content">ECE 311</p>
                        </div>
                        <div ng-switch="obj.OR12">
                            <div class="course" style="position: absolute; top: 122px; height: 118px;" ng-switch-when="1">
                                <p class="content"c>ECE 343</p>
                            </div>
                        </div>
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p class="content">MATH 200</p>
                        </div>
                        <div class="course" style="position: absolute; top: 366px; height: 545px;">
                            <p class="content">MATH 200</p>
                        </div>
                        <div class="course" style="position: absolute; top: 915px; height: 545px;">
                            <p class="content">MATH 200</p>
                        </div>
                        <div class="course" style="position: absolute; top: 1464px; height: 118px;">
                            <p class="content">CLASS 448</p>
                        </div>
                    </div>
                </div>
                <div class="day" id="W">
                    <h3 class="label">Wednesday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; height: 57px;"></div>
                        <div class="course" style="position: absolute; top: 61px; height: 179px;">
                            <p class="content"c>MATH 111</p>
                        </div>
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p class="content">ECE 231</p>
                        </div>
                        <div ng-switch="obj.OR12">
                            <div class="course" style="position: absolute; top: 366px; height: 118px;" ng-switch-when="2">
                                <p class="content">ENGG 300</p>
                            </div>
                        </div>
                        <div ng-switch="obj.OR12">
                            <div class="course" style="position: absolute; top: 366px; height: 179px;" ng-switch-when="1">
                                <p class="content">ECE 231</p>
                            </div>
                        </div>
                        <div class="course" style="position: absolute; top: 549px; height: 240px;">
                            <p class="content">ECE 231</p>
                        </div>
                        <div class="course" style="position: absolute; top: 793px; height: 57px;">
                            <p class="content">ECE 231</p>
                        </div>
                        <div class="course" style="position: absolute; top: 854px; height: 118px;">
                            <p class="content">ECE 231</p>
                        </div>
                        <div class="course" style="position: absolute; top: 976px; height: 484px;">
                            <p class="content">ECE 231</p>
                        </div>
                    </div>
                </div>
                <div class="day" id="Th">
                    <h3 class="label">Thursday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; height: 240px;"></div>
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p class="content">ECE 123</p>
                        </div>
                        <div class="course" style="position: absolute; top: 366px; height: 118px;">
                            <p class="content">ENGL 199</p>
                        </div>
                    </div>
                </div>
                <div class="day" id="F">
                    <h3 class="label">Friday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p class="content">ECE 121</p>
                        </div>
                        <div class="course" style="position: absolute; top: 366px; height: 118px;">
                            <p class="content">MEC E 100</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="planAterm2" ng-switch-when="planAterm2">
                <div class="day" id="M">
                    <h3 class="label">Monday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 122px; height: 179px;">
                            <p class="content">ENG PH 200</p>
                        </div>
                        <div class="course" style="position: absolute; top: 305px; height: 118px;">
                            <p class="content">CH E 233</p>
                        </div>
                    </div>
                </div>
                <div class="day" id="Tu">
                    <h3 class="label">Tuesday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; height: 118px;">
                            <p class="content">ECE 311</p>
                        </div>
                        <div ng-switch="obj.OR34">
                            <div class="course" style="position: absolute; top: 122px; height: 118px;" ng-switch-when="3">
                                <p class="content">ECE 343</p>
                            </div>
                        </div>
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p class="content">MATH 200</p>
                        </div>
                    </div>
                </div>
                <div class="day" id="W">
                    <h3 class="label">Wednesday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 61px; height: 179px;">
                            <p class="content">MATH 111</p>
                        </div>
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p class="content">ECE 231</p>
                        </div>
                        <div ng-switch="obj.OR34">
                            <div class="course" style="position: absolute; top: 366px; height: 118px;" ng-switch-when="4">
                                <p class="content">ENGG 300</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="day" id="Th">
                    <h3 class="label">Thursday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p class="content">ECE 123</p>
                        </div>
                        <div class="course" style="position: absolute; top: 366px; height: 118px;">
                            <p class="content">ENGL 199</p>
                        </div>
                    </div>
                </div>
                <div class="day" id="F">
                    <h3 class="label">Friday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p class="content">ECE 121</p>
                        </div>
                        <div class="course" style="position: absolute; top: 366px; height: 118px;">
                            <p class="content">MEC E 100</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="planBterm4" ng-switch-when="planBterm4">
                <div class="day" id="M">
                    <h3 class="label">Monday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 122px; height: 179px;">
                            <p class="content">ENG PH 200</p>
                        </div>
                        <div class="course" style="position: absolute; top: 305px; height: 118px;">
                            <p class="content">CH E 233</p>
                        </div>
                    </div>
                </div>
                <div class="day" id="Tu">
                    <h3 class="label">Tuesday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; height: 118px;">
                            <p class="content">ECE 311</p>
                        </div>
                        <div ng-switch="obj.OR56">
                            <div class="course" style="position: absolute; top: 122px; height: 118px;" ng-switch-when="5">
                                <p class="content">ECE 343</p>
                            </div>
                        </div>
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p class="content">MATH 200</p>
                        </div>
                    </div>
                </div>
                <div class="day" id="W">
                    <h3 class="label">Wednesday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 61px; height: 179px;">
                            <p class="content">MATH 111</p>
                        </div>
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p class="content">ECE 231</p>
                        </div>
                        <div ng-switch="obj.OR56">
                            <div class="course" style="position: absolute; top: 366px; height: 118px;" ng-switch-when="6">
                                <p class="content">ENGG 300</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="day" id="Th">
                    <h3 class="label">Thursday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p class="content">ECE 123</p>
                        </div>
                        <div class="course" style="position: absolute; top: 366px; height: 118px;">
                            <p class="content">ENGL 199</p>
                        </div>
                    </div>
                </div>
                <div class="day" id="F">
                    <h3 class="label">Friday</h3>
                    <div class="courseholder">
                        <div class="course" style="position: absolute; top: 244px; height: 118px;">
                            <p class="content">ECE 121</p>
                        </div>
                        <div class="course" style="position: absolute; top: 366px; height: 118px;">
                            <p class="content">MEC E 100</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>