.day {
    float: left;
    margin-left: 10vw;
    position: relative;
}

.courseholder {
    position: relative;
}

.label {
    margin-bottom: 120px;
}

.course {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.course p{
    text-align: center;   
}